/* src/components/ContactSection.module.css */
.parallaxItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
}

.imgWrap {
  background-color: #ccc;
  width: 50vw;
  background-color: white;
}

.img {
  background-color: #777;
}
