/* src/components/LandingSection.module.css */
@import "../style/style.css";

.introSection {
  background-color: #303030;
  color: var(--text-color);
  font-family: var(--font-family-primary);
  width: 100vw;

  height: 300vh;
}

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.textContainer {
  position: fixed;
  top: 100px;
  font-size: 2.5rem;
}

.img {
  background-color: #777;
  height: 100%;
}
