/* src/components/LandingSection.module.css */
@import "../style/style.css";

.backgroundColor {
  background-color: black;
  width: 100vw;
  height: 300vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.introSection {
  color: gray;
  font-family: var(--font-family-primary);
  width: 100vw;
  z-index: 10;
}

.introContainer {
  width: 100%;

  position: relative;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.text {
  position: absolute;
  font-size: 3rem;
  text-align: center;
}

.text1 {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.text2 {
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.text3 {
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}
