@font-face {
  font-family: "Paperlogy";
  src: url("../asset/font/Paperlogy-4Regular.ttf") format(ttf);
}

@font-face {
  font-family: "Anthony";
  src: url("../asset/font/Anthony.woff") format(woff);
}

@font-face {
  font-family: "PicNic";
  src: url("../asset/font/PicNic.woff") format(woff);
}

/* Color variables */
:root {
  --bg-color-lightblue: #a1c4f3;
  --bg-color-lightpurple: #b7add2;
  --accent-color-purple: #493a66;
  --accent-color-green: #6a7940;
  --accent-color-blue: #7180a9;
  --accent-color-white: #f5f3f7;
  --text-color: #333333;

  --font-family-primary: "Paperlogy", sans-serif;
  --font-family-secondary: "Anthony", sans-serif;
  --font-family-tertiary: "PicNic", sans-serif;
}

/* body {
    font-family: var(--font-family-primary);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-secondary);
  }
  
  button {
    background-color: var(--primary-color);
    color: white;
  }
  
  a {
    color: var(--accent-color);
  }
   */
